__pycache__/
*.py[cod]
misc
ds/robust04/index-robust04-20191213/
ds/
ds/qe/robust04/*
!ds/qe/robust04/*.dataset.csv
qs/cair/data/fasttext/crawl-300d-2M-subword.vec
qs/cair/data/
pre/
.idea/
dummy.txt
