__pycache__/
*.py[cod]
.idea/
desktop.ini
Icon\r
misc
pre/
!pre/gitkeep

anserini/
!anserini/gitkeep

ds/clueweb09b/
!ds/clueweb09b/gitkeep
ds/clueweb12b13/
!ds/clueweb12b13/gitkeep
ds/gov2/
!ds/gov2/gitkeep
ds/robust04/
!ds/robust04/gitkeep

ds/qe/eval/
!ds/qe/eval/gitkeep

ds/qe/robust04/*
!ds/qe/robust04/topics.robust04.bm25.map.dataset.csv
!ds/qe/robust04/topics.robust04.bm25.rm3.map.dataset.csv
!ds/qe/robust04/topics.robust04.qld.map.dataset.csv
!ds/qe/robust04/topics.robust04.qld.rm3.map.dataset.csv

ds/qe/gov2/*
!ds/qe/gov2/topics.gov2.701-850.bm25.map.dataset.csv
!ds/qe/gov2/topics.gov2.701-850.bm25.rm3.map.dataset.csv
!ds/qe/gov2/topics.gov2.701-850.qld.map.dataset.csv
!ds/qe/gov2/topics.gov2.701-850.qld.rm3.map.dataset.csv

ds/qe/clueweb09b/*
!ds/qe/clueweb09b/topics.clueweb09b.1-200.bm25.map.dataset.csv
!ds/qe/clueweb09b/topics.clueweb09b.1-200.bm25.rm3.map.dataset.csv
!ds/qe/clueweb09b/topics.clueweb09b.1-200.qld.map.dataset.csv
!ds/qe/clueweb09b/topics.clueweb09b.1-200.qld.rm3.map.dataset.csv

ds/qe/clueweb12b13/*
!ds/qe/clueweb12b13/topics.clueweb12b13.201-300.bm25.map.dataset.csv
!ds/qe/clueweb12b13/topics.clueweb12b13.201-300.bm25.rm3.map.dataset.csv
!ds/qe/clueweb12b13/topics.clueweb12b13.201-300.qld.map.dataset.csv
!ds/qe/clueweb12b13/topics.clueweb12b13.201-300.qld.rm3.map.dataset.csv

ds/qs/all.topn1
ds/qs/all.topn100
ds/qs/robust04.topn1
ds/qs/robust04.topn100
ds/qs/gov2.topn1
ds/qs/gov2.topn100
ds/qs/clueweb09b.topn1
ds/qs/clueweb09b.topn100
ds/qs/clueweb12b13.topn1
ds/qs/clueweb12b13.topn100

qs/cair/data/fasttext/crawl-300d-2M-subword.vec
qs/cair/data/