__pycache__/
*.py[cod]
.idea/
desktop.ini

misc
pre/

ds/robust04/index-robust04-20191213/

ds/qe/robust04/*
!ds/qe/robust04/topics.robust04.bm25.map.dataset.csv
!ds/qe/robust04/topics.robust04.bm25.rm3.map.dataset.csv
!ds/qe/robust04/topics.robust04.qld.map.dataset.csv
!ds/qe/robust04/topics.robust04.qld.rm3.map.dataset.csv

ds/qe/gov2/*
!ds/qe/gov2/topics.gov2.701-850.bm25.map.dataset.csv
!ds/qe/gov2/topics.gov2.701-850.bm25.rm3.map.dataset.csv
!ds/qe/gov2/topics.gov2.701-850.qld.map.dataset.csv
!ds/qe/gov2/topics.gov2.701-850.qld.rm3.map.dataset.csv

ds/qe/clueweb09b/*
!ds/qe/clueweb09b/topics.clueweb09b.1-200.bm25.map.dataset.csv
!ds/qe/clueweb09b/topics.clueweb09b.1-200.bm25.rm3.map.dataset.csv
!ds/qe/clueweb09b/topics.clueweb09b.1-200.qld.map.dataset.csv
!ds/qe/clueweb09b/topics.clueweb09b.1-200.qld.rm3.map.dataset.csv

ds/qe/clueweb12b13/*
!ds/qe/clueweb12b13/topics.clueweb12b13.201-300.bm25.map.dataset.csv
!ds/qe/clueweb12b13/topics.clueweb12b13.201-300.bm25.rm3.map.dataset.csv
!ds/qe/clueweb12b13/topics.clueweb12b13.201-300.qld.map.dataset.csv
!ds/qe/clueweb12b13/topics.clueweb12b13.201-300.qld.rm3.map.dataset.csv

ds/qs/

qs/cair/data/fasttext/crawl-300d-2M-subword.vec
qs/cair/data/

